<h1>
  Add a new circuit
</h1>


<hr>

<!-- Form circuit start -->
<form action="/create_circuit" method="post">
<!-- Form circuit end -->

  <!-- Label and input for workout_id start -->
  <div class="form-group">
    <label for="workout_id">
      Workout
    </label>

    <!-- Input for workout_id start -->
    <%= select_tag(:workout_id, options_from_collection_for_select(Workout.all, :id, :user_id, @circuit.workout_id), :class => "form-control") %>
    <!-- Input for workout_id end -->
  </div>
  <!-- Label and input for workout_id end -->

  <!-- Label and input for exercise_id start -->
  <div class="form-group">
    <label for="exercise_id">
      Exercise
    </label>

    <!-- Input for exercise_id start -->
    <%= select_tag(:exercise_id, options_from_collection_for_select(Exercise.all, :id, :name, @circuit.exercise_id), :class => "form-control") %>
    <!-- Input for exercise_id end -->
  </div>
  <!-- Label and input for exercise_id end -->

  <!-- Label and input for reps start -->
  <div class="form-group">
    <label for="reps">
      Reps
    </label>

    <!-- Input for reps start -->
    <input type="text" id="reps" name="reps" class="form-control">
    <!-- Input for reps end -->
  </div>
  <!-- Label and input for reps end -->

  <!-- Label and input for sets start -->
  <div class="form-group">
    <label for="sets">
      Sets
    </label>

    <!-- Input for sets start -->
    <input type="text" id="sets" name="sets" class="form-control">
    <!-- Input for sets end -->
  </div>
  <!-- Label and input for sets end -->

  <!-- Label and input for weight start -->
  <div class="form-group">
    <label for="weight">
      Weight
    </label>

    <!-- Input for weight start -->
    <input type="text" id="weight" name="weight" class="form-control">
    <!-- Input for weight end -->
  </div>
  <!-- Label and input for weight end -->

  <!-- Label and input for unit start -->
  <div class="form-group">
    <label for="unit">
      Unit
    </label>

    <!-- Input for unit start -->
    <input type="text" id="unit" name="unit" class="form-control">
    <!-- Input for unit end -->
  </div>
  <!-- Label and input for unit end -->

  <!-- Label and input for note start -->
  <div class="form-group">
    <label for="note">
      Note
    </label>

    <!-- Input for note start -->
    <input type="text" id="note" name="note" class="form-control">
    <!-- Input for note end -->
  </div>
  <!-- Label and input for note end -->

  <button class="btn btn-block btn-outline-secondary">
    Create circuit
  </button>
</form>

<hr>

<a href="/circuits">
  Go back
</a>
