<form action="/create_exercise_from_bodypart" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @exercise.name %>">
  </div>

  <input type="hidden" name="bodypart_id" value="<%= @bodypart.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create exercise
  </button>
</form>
