<% if @bodypart.errors.any? %>
  <% @bodypart.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit bodypart #<%= @bodypart.id %>
</h1>

<hr>

<form action="/update_bodypart/<%= @bodypart.id %>" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @bodypart.name %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update bodypart
  </button>
</form>

<hr>

<a href="/bodyparts">
  Go back
</a>
