<h1>
  Edit workout #<%= @workout.id %>
</h1>

<hr>

<!-- Form workout start -->
<form action="/update_workout/<%= @workout.id %>" method="post">
<!-- Form workout end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <input type="text" id="user_id" name="user_id" class="form-control" value="<%= @workout.user_id %>">
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Update workout
  </button>
</form>

<hr>

<a href="/workouts">
  Go back
</a>
