<% if @workout.present? %>
  <% if @workout.errors.any? %>
    <% @workout.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new workout
</h1>


<hr>

<form action="/create_workout" method="post">

  <input type="hidden" name="user_id" value="<%= current_user.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create workout
  </button>
</form>

<hr>

<a href="/workouts">
  Go back
</a>
